.energy {
    width: 1450px;
    margin-top: 200px;
    position: relative;
    
    img { 
        position: absolute;
        z-index: -1;
        opacity: 0.8;
        top: -330px;
        right: -52px;
     }

    .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        width: 100%;
        text-align: center;
        color: #414546;
        margin-bottom: 55px;
    }

    .text {
        width: 793px;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #5B6E72;     
    }
}

.why {
    width: 100%;
    height: 650px;
    margin-top: 150px;
    background-color: #F1C30B;
    position: relative;

    .why-bg {
        position: absolute;
        top: 0; left: 0; right: 0;
        width: 100%;
    }

    .container-default{
        
        height: 100%;
        align-items: center;

        ul {
            width: 100%;
            font-weight: bold;
            font-size: 30px;
            list-style: none;
            padding: 0;
            line-height: 35px; 
            color: #4D4D4D;

            li { 
                margin-bottom: 22px;  display: flex; align-items: center; 
                img { margin-right: 20px; }
            }
        }

        .economy {
            width: 498px;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            color: #000000;

            .text-1 { font-size: 48px; text-align: left; width: 100%;}
            .text-2 { font-size: 150px; text-align: left; width: 100%;}
            .text-3 { font-size: 48px; text-align: right; width: 100%;}

        }
    }

}

.tools {
    width: 1450px;
    margin-top: 150px;
    
    .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        width: 100%;
        text-align: center;
        color: #414546;
        margin-bottom: 55px;
    }

    .tools-content {

        display: inline-flex;
        width: 100%;
        align-items: center;

        .group-text {
            width: 100%;
            .text {
                width: 90%;
                font-weight: 500;
                font-size: 30px;
                line-height: 37px;
                color: #5B6E72;     
            }
        }

    }
}

.value { 
    width: 100%;
    height: 769px;
    margin-top: 150px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -33.68%, #33475F 100%), #006C6A;

    .container-default{
        
        height: 100%;
        align-items: center;
    
        .title {
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            width: 100%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 55px;            
         }
    
         .desc {
            font-weight: 300;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            color: #FFFFFF;
        }

        .btn-group {
            display: inline-flex;
            width: 100%;
            margin-top: 130px;
            justify-content: center;
            align-items: center;
            
            ul.social-network {
                list-style: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                li { margin: 0 25px; text-align: center; }
            }
        }
    
    }
}


.critics {
    .title {
        width: 100%;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #414546;
        text-align: center;
        margin-top: 200px;
    }


        img { width: 18px;   background-color: white;  }
        .right { transform: rotate(180deg); }

        .opnions {
            width: 95%;
            max-width: 95%;
            overflow: hidden;
            margin: 100px 0px;
            display: inline-flex;            
            justify-content: center;

            .block {
                margin: 0px 40px;
                width: 370px;


                .user {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: #33475F;
                }

                .date {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: #E64938;
                    border-bottom: 1px solid #33475F;
                }

                .desc {
                    margin-top: 5px;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: #818B8D;
                }
            }
        }
}

.partners {

    margin-top: 200px;

    .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        width: 100%;
        text-align: center;
        color: #414546;
        margin-bottom: 55px;
    }

    .partners-logos {
        display: inline-flex;
        background: #F7F7F7;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 65px 0;

        a { margin: 0 45px;
            #santander , #p-solar {  mix-blend-mode: multiply;   }
        }
    }
    
}

.number {
    
    width: 100%;
    height: 855px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    .number-content {
        height: 100%;
        width: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;

        .big {
            text-align: center;
            span { 
                display: block;
                width: 100%;
                text-align: center;
                font-size: 170px;
                line-height: 170px;
             }
        }
    }

}

@media screen and (max-width: 1920px) {

    .why { 
        
        .why-bg { max-height: 1165px; }
        
        .container-default{ 
        margin: 0px 250px;        
        .economy {
            .text-2 {
                font-size: 240px;
                line-height: 225px;
            }
        }
    }}

    .critics { .container-default{ 
        margin: 0px 145px; 
        .opnions { .block {
            width: 500px;
        }}
    }}

}


@media screen and  (max-width: 1366px) {
    // .energy { img { right: -100px; } }

    // .why { .container-default{
    //     margin: 0 115px;

    //     .economy { 
    //         .text-1 , .text-3 { font-size: 25px; }
    //         .text-2 {
    //             line-height: 115px;            
    //         }
    //     }
    // } }
}